body {
    margin: 0px;
    padding: 0px;
    background-color: #CCCCCC;
}
ul {
    background-color: #444;
    text-align: center;
    list-style: none;
}
li {
    font-size: 24px;
    line-height: center;
    padding: 20px;
    display: inline-block;
}
a {
    text-decoration: none;
    color: #fff
}
article {
padding: 10px;}
footer {
    text-align: center;
    padding: 10px;
    background-color: #444;
}